.home {
  background: url(../images/home/home__bg.png) center / cover no-repeat;
  height: 100vh;
  padding-top: 53px;
  margin-top: 66px;

  &__title {
    margin-bottom: 14px;
  }

  &__subtitle {
    margin-bottom: 22px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    column-gap: 12px;
  }
}